<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <event-hub></event-hub>
    <side-bar :sidebarLinks1="sidebarLinks1">
      <mobile-menu slot="content"></mobile-menu>
    </side-bar>
<!-- Comment -->
<top-navbar-languages v-on:change="language.short_code=!language.short_code" ><p>yyyy</p></top-navbar-languages>

<!-- Comment -->
    <div class="main-panel">
      <top-navbar></top-navbar>
      <div class="content">
        <dashboard-content></dashboard-content>
      </div>
    </div>
  </div>
</template>

<script>
import DashboardContent from './Content.vue'
import TopNavbar from './TopNavbar.vue'
import MobileMenu from './MobileMenu.vue'

export default {
  components: {
    DashboardContent,
    TopNavbar,
    MobileMenu
  },
  data() {
    return {
      sidebarLinks1: [
        {
          title: 'Dashboard',
          icon: 'dashboard',
          path: { name: 'dashboard' }
        },
        {
          title: 'User Management',
          icon: 'person',
          path: { name: 'user_management' },
          gate: 'user_management_access',
          children: [
            {
              title: 'Permissions',
              icon: 'perm_data_setting',
              path: { name: 'permissions.index' },
              gate: 'permission_access'
            },
            {
              title: 'Roles',
              icon: 'group',
              path: { name: 'roles.index' },
              gate: 'role_access'
            },
            {
              title: 'Users',
              icon: 'person',
              path: { name: 'users.index' },
              gate: 'user_access'
            }
          ]
        },
         {
          title: 'MMMcontactCompan',
          icon: 'import_contacts',
          path: { name: 'contact_management' },
          gate: 'contact_management_access',
          children: [
            {
              title: 'contactCompany',
              icon: 'fas fa-building',
              path: { name: 'contact_companies.index' },
              gate: 'contact_company_access'
            },
            {
              title: 'contactContact',
              icon: 'fas fa-user-plus',
              path: { name: 'contact_contacts.index' },
              gate: 'contact_contact_access'
            }
          ]
        },

          {
          title: 'Transaction',
          icon: 'table_view',
          path: { name: 'transactions.index' },
          gate: 'transaction_access'
        },
        {
          title: 'Cities',
          icon: 'table_view',
          path: { name: 'cities.index' },
          gate: 'city_access'
        },
        {
          title: 'Categories2',
          icon: 'table_view',
          path: { name: 'categories.index' },
          gate: 'category_access'
        },
        {
          title: 'Companies',
          icon: 'table_view',
          path: { name: 'companies.index' },
          gate: 'company_access'
        },
      

        
      ]
    }
  }
}
</script>
